<html>

<head>
    <title>Big App Company</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>

    <script src="controllers/TaskController.js"></script>
    <script src="services/TaskService.js"></script>
    <script src="global/baseUrl.js"></script>

    <style>
        .red-mandatory {
            border: solid;
            border-color: red;
        }
    </style>
</head>

<body ng-app="BigCompany" ng-controller="TaskController">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" ng-click="goToHome()">Big app company</a>
            </div>
        </div>
    </nav>
    <div class="container">

        <form class="well form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-4 control-label">Task Name <span class="text-danger">*</span></label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group" ng-class="{'red-mandatory' : errorName}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="first_name" placeholder="Task Name" class="form-control" type="text" ng-model="task.taskName">
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Task end date <span class="text-danger">*</span></label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group" ng-class="{'red-mandatory' : errorEndDate}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            <input ng-show="isEdit == false" name="last_name" placeholder="End date" class="form-control" type="date" ng-model="task.taskEndDate">
                            <input ng-show="isEdit == true" name="last_name" placeholder="End date" class="form-control" type="text" ng-model="endFormt"
                                ng-disabled="isEdit">
                        </div>
                    </div>
                </div>


                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Description</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <textarea ng-model="task.description" style="height: 80px; width: 345px;"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Created by <span class="text-danger">*</span></label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group" ng-class="{'red-mandatory' : errorCreatedBy}">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="user_password" placeholder="Created by" class="form-control" type="text" ng-model="task.createdBy">
                        </div>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-2" ng-show="isEdit == false"><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-success" ng-click="saveTask()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                    <div class="col-md-2" ng-show="isEdit == true"><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-primary" ng-click="updateTask()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUPDATE <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                    <div class="col-md-2" ng-show="isEdit == true"><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-default" ng-click="reset()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspCANCEL&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <!-- /.container -->

    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>End date</th>
                    <th>Created date</th>
                    <th></th>
                    <th>Created by</th>
                    <th>Task name/Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="date" ng-model="endDate" /></td>
                    <td><input type="date" ng-model="createDate" /></td>
                    <td><input type="button" class="btn btn-sm btn-success" value="Search" ng-click="search()" /></td>
                    <td><input type="text" ng-model="createdBy" ng-keyup="search()" /></td>
                    <td><input type="text" ng-model="taskName" ng-keyup="search()" /></td>
                    <td><input type="button" class="btn btn-sm btn-success" value="Reset" ng-click="reset()" /></td>
                </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Task id</th>
                    <th>Task name</th>
                    <th>Task end date</th>
                    <th>Description</th>
                    <th>Created by</th>
                    <th>Created on</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="task in loadTask">
                    <td>{{task.task_id}}</td>
                    <td>{{task.task_name}}</td>
                    <td>{{task.endDate}}</td>
                    <td>{{task.description}}</td>
                    <td>{{task.created_by}}</td>
                    <td>{{task.ctreatDate}}</td>
                    <td><i class="glyphicon glyphicon-pencil" ng-click="edit(task.id)"></i></td>
                    <td><i class="glyphicon glyphicon-trash" ng-click="removeTask(task.id)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>


</html>